body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  font-weight: 200;
  background-size: cover;
  background-position: 50%;
  background-color: #e3e3e3;
}
#page-container {
  position: relative;
  float: right;
  width: calc(100% - 260px);
}
#page-content {
  min-height: 85vh;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  position: relative;
  bottom: 0;
  right: 0;
  color: #98a6ad;
  display: block;
}
.logo {
  display: block;
  line-height: 80px;
}
.sidebar-nav {
  margin-top: 40px;
  list-style: none;
  padding-left: 10px;
}
.sidebar-nav-submenu {
  list-style: none;
  padding-left: 30px;
}
.sidebar-nav > li.sidebar-nav-item {
  list-style: none;
  cursor: pointer;
}
.sidebar-nav > li.sidebar-nav-item > a.sidebar-nav-link {
  display: block;
  padding: 15px 25px;
}
.sidebar-nav-submenu > li.sidebar-nav-item > a.sidebar-nav-link {
  display: block;
  padding: 5px 20px;
}
a.sidebar-nav-link i.nav-link-icon {
  float: left;
  font-size: 18px;
  padding-right: 8px;
  vertical-align: middle;
}
a.sidebar-nav-link i {
  float: right;
  font-size: 16px;
}
.is-invalid {
  border: 1px solid red;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background: none !important;
}
